@import "variables";

body {
  font-family: $font-family;
  color: $font-color; 
}

a {
  @include link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color);
}

#main {
  padding: 50px;
}

ul {
	list-style-type:none;
	margin-left:45px;
  &>li {display:inline;margin-left:10px;}
}